* {
  margin: 0;
  padding: 0;
}
.fullpage {
  margin-top: 1%;
  margin-left: 9%;
}
.firstPage {
  display: flex;
}

.avtarpic img {
  width: 10vw;
  margin-left: 10vw;
}

.registration input {
  background-color: rgba(232, 232, 238, 0.433);
  border: 1px solid #888686;
  border-radius: 5px;
  font-size: 15px;
  padding: 2%;
  width: 50vw;
  outline: none;
  margin-top: 1vh;
}

.registration p {
  margin-top: 2%;
}
.registration span {
  color: red;
}

.avtarpic input {
  display: none;
}

.avtarpic p span label {
  color: blue;
}
.avtarpic p {
  margin-left: 8vw;
}
.star {
  color: red;
}

.hr {
  border: 1px dotted #000;
  margin-bottom: 2%;
  margin-top: 9%;
  width: 90.5%;
}
h4 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px 5px;
  background-color: #133b65;
  margin-bottom: 2%;
  width: 90.5%;
}

.firstline {
  display: flex;
  gap: 14vw;
}
.name input {
  background-color: rgba(232, 232, 238, 0.433);
  border: 1px solid #888686;
  border-radius: 5px;
  font-size: 15px;
  padding: 4%;
  width: 200%;
  outline: none;
}
.name {
  margin-top: 1vh;
}
.name span {
  color: red;
}
.container {
  display: flex;
  gap: 14vw;
}
.name select {
  background-color: rgba(232, 232, 238, 0.433);
  border: 1px solid #888686;
  border-radius: 5px;
  font-size: 15px;
  padding: 4%;
  width: 200%;
  outline: none;
}

.secondhr {
  border: 1px dotted #000;
  margin-bottom: 5%;
  margin-top: 9%;
  width: 90%;
}
.secondblueborder h4 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px 5px;
  background-color: #133b65;
  margin-bottom: 2%;
  width: 90.5%;
  margin-top: 1vw;
}
.secondcontainer {
  display: flex;
  gap: 14vw;
}

.email input {
  background-color: rgba(232, 232, 238, 0.433);
  border: 1px solid #888686;
  border-radius: 5px;
  font-size: 15px;
  padding: 1%;
  width: 90.5%;
  outline: none;
}
.email p {
  margin-top: 1vh;
}
.email span {
  color: red;
}

.adress textarea {
  background-color: rgba(232, 232, 238, 0.433);
  border: 1px solid #888686;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  padding: 1%;
  width: 90.5%;
}
.adress p {
  margin-top: 1vh;
}
.adress span {
  color: red;
}

.thirdblueborder h4 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px 5px;
  background-color: #133b65;
  margin-bottom: 2%;
  width: 90.5%;
  margin-top: 1vw;
}
.education select {
  background-color: rgba(232, 232, 238, 0.433);
  border: 1px solid #888686;
  border-radius: 5px;
  font-size: 15px;
  padding: 1%;
  width: 90.5%;
  outline: none;
}

.education span {
  color: red;
}
.thirdcontainer {
  display: flex;
  gap: 14vw;
}
button {
  background-color: #133b65;
  color: #fff;
  /* color:rgb(60, 60, 158); */
  padding: 13px 40px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 70vh;
  margin-top: 3%;
  margin-bottom: 2%;
  font-weight: 600;
}
.selectname select {
  background-color: rgba(232, 232, 238, 0.433);
  border: 1px solid #888686;
  border-radius: 5px;
  font-size: 15px;
  padding: 4%;
  width: 384%;
  outline: none;
  height: 2.5vw;
}

.selectname p {
  margin-top: 0.5vw;
}

.selectname span {
  color: red;
}

.coursename input {
  background-color: rgba(232, 232, 238, 0.433);
  border: 1px solid #888686;
  border-radius: 5px;
  font-size: 15px;
  padding: 3%;
  width: 139%;
  outline: none;
  margin-left: 5.9vw;
}
.coursename p {
  margin-top: 0.5vw;
  margin-left: 5.9vw;
}
.coursename span {
  color: red;
}

.adhaar input {
  background-color: rgba(232, 232, 238, 0.433);
  border: 1px solid #888686;
  border-radius: 5px;
  font-size: 15px;
  padding: 1%;
  width: 90.5%;
  outline: none;
}

.adhaar span {
  color: red;
}

/* .uploadphoto {
  
} */

.secondrows {
  margin-left: 6.8vw;
}
